# API Keys
OPENWEATHER_API_KEY = "openweatherapihere"
GROQ_API_KEY = "groqapihere"
GOOGLE_API_KEY = "googleapihere"
MISTRAL_API_KEY = "mistralapihere"

# API URLs
WEATHER_API_URL = "http://api.openweathermap.org/data/2.5/forecast"

# Mistral Configuration
MISTRAL_MODEL_NAME = "mistral-large-latest"
MISTRAL_DISPLAY_NAME = "Mistral Large"
MISTRAL_TEMPERATURE = 0.7
MISTRAL_MAX_TOKENS = 500

# Gemini Configuration
GEMINI_MODEL_NAME = "gemini-1.5-flash"
GEMINI_DISPLAY_NAME = "Gemini 1.5 Flash"

# Llama Configuration
LLAMA_MODEL_NAME = "llama-3.2-90b-vision-preview"
LLAMA_DISPLAY_NAME = "Llama 3.2 90B"
LLAMA_TEMPERATURE = 0.7
LLAMA_MAX_TOKENS = 500